{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ".*rc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.yml",
      "options": {
        "parser": "yaml"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    }
  ]
}
