:root {
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);

  --color-red: rgb(255, 59, 48);
  --color-red-alpha: rgba(255, 59, 48, 0.1);
  --color-orange: rgb(255, 149, 0);
  --color-orange-alpha: rgba(255, 149, 0, 0.1);
  --color-yellow: rgb(255, 204, 0);
  --color-yellow-alpha: rgba(255, 204, 0, 0.1);
  --color-green: rgb(76, 217, 100);
  --color-green-alpha: rgba(76, 217, 100, 0.1);
  --color-teal: rgb(90, 200, 250);
  --color-teal-alpha: rgba(90, 200, 250, 0.1);
  --color-blue: rgb(0, 122, 255);
  --color-blue-alpha: rgba(0, 122, 255, 0.1);
  --color-purple: rgb(88, 86, 214);
  --color-purple-alpha: rgba(88, 86, 214, 0.1);
  --color-pink: rgb(255, 45, 85);
  --color-pink-alpha: rgba(255, 45, 85, 0.1);

  --primary-text: rgb(51, 51, 51);
  --secondary-text: rgb(140, 140, 140);
  --complement-text: rgb(230, 230, 230);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--primary-text);
  font-family: Roboto, Helvetica, Arial, 'sans-serif';
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: 500;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  font-size: 14px;
}
